---
http_interactions:
- request:
    method: get
    uri: https://platform.pokitdok.com/api/v4/activities/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer rdb2ZfBxbA2P0Mo8xEa1GEce5BoVXjvOXCvT5ZQp
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Mimetype:
      - application/json
      Charset:
      - utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"rate_limit_amount": 5, "rate_limit_reset": 1422380907, "application_mode":
        "production", "processing_time": 91, "rate_limit_cap": 1000, "result_count":
        66, "activity_id": "54c7c15f948303218a04e273", "next": "https://platform.pokitdok.com/api/v4/activities/?offset=20"},
        "data": [{"units_of_work": 1, "_type": "PlatformActivityModel", "name": "providers",
        "parameters": {"npi": "1629301601"}, "_uuid": "b33e9a81-3669-4bfa-89f8-ec7490af080e",
        "state": {"name": "completed", "title": "Completed"}, "trading_partner_id":
        "PokitDok", "id": "542dae3ffba8eb0614eb8923", "transition_path": ["process",
        "complete"], "history": [{"record_dt": "2014-10-02T19:57:51.038000", "name":
        "init", "title": "Initializing"}, {"record_dt": "2014-10-02T19:57:51.039000",
        "name": "processing", "title": "Processing transactions"}]}, {"units_of_work":
        1, "_type": "PlatformActivityModel", "name": "providers", "parameters": {"npi":
        "1205881257"}, "_uuid": "5903565d-dd40-48d7-9c96-105312fdd10f", "state": {"name":
        "completed", "title": "Completed"}, "trading_partner_id": "PokitDok", "id":
        "542daeda948303435[...]
