---
http_interactions:
- request:
    method: post
    uri: https://platform.pokitdok.com/api/v4/authorizations/
    body:
      encoding: UTF-8
      string: '{"event":{"category":"health_services_review","certification_type":"initial","delivery":{"quantity":1,"quantity_qualifier":"visits"},"diagnoses":[{"code":"789.00","date":"2014-10-01"}],"place_of_service":"office","provider":{"organization_name":"KELLY
        ULTRASOUND CENTER, LLC","npi":"1760779011","phone":"8642341234"},"services":[{"cpt_code":"76700","measurement":"unit","quantity":1}],"type":"diagnostic_medical"},"patient":{"birth_date":"1970-01-01","first_name":"JANE","last_name":"DOE","id":"1234567890"},"provider":{"first_name":"JEROME","npi":"1467560003","last_name":"AYA-AY"},"trading_partner_id":"MOCKPAYER"}'
    headers:
      Authorization:
      - Bearer rdb2ZfBxbA2P0Mo8xEa1GEce5BoVXjvOXCvT5ZQp
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Mimetype:
      - application/json
      Charset:
      - utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"rate_limit_amount": 10, "rate_limit_reset": 1422380906,
        "application_mode": "production", "processing_time": 376, "rate_limit_cap":
        1000, "credits_remaining": 13493, "activity_id": "54c7c164948303218b7184be",
        "credits_billed": 1}, "data": {"patient": {"first_name": "JANE", "last_name":
        "DOE", "id": "1234567890"}, "trading_partner_id": "MOCKPAYER", "payer": {"organization_name":
        "MOCK PAYER INC", "id": "MOCKPAYER"}, "originating_company_id": "9012345678",
        "correlation_id": "570ef2f8-2fbf-4b79-aab1-59ebfd2ff909", "client_id": "7iF1u1XVbkAds9LSz94c",
        "provider": {"first_name": "JEROME", "last_name": "AYA-AY", "tax_id": "1467560003"},
        "async": false, "event": {"category": "health_services_review", "diagnoses":
        [{"date": "2005-04-30", "code": "410.90"}], "place_of_service": "office",
        "review": {"certification_number": "AUTH0001", "second_surgical_opinion_required":
        false, "certification_action": "certified_in_total"}, "delivery": {"quantity_qualifier":
        "visits", "quantity": 1}, "provider": {"organization_name": "KELLY ULTRASOUND
        CENTER, LLC", "tax_id": "1760779011"}, "certification_type": "initial", "type":
        "diagnostic_medical"}, "valid_request": true}}'
  recorded_at: Tue, 27 Jan 2015 16:48:38 GMT
recorded_with: VCR 2.9.3
