---
http_interactions:
- request:
    method: get
    uri: https://platform.pokitdok.com/api/v4/prices/cash?cpt_code=90658&zip_code=94403
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer rdb2ZfBxbA2P0Mo8xEa1GEce5BoVXjvOXCvT5ZQp
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Mimetype:
      - application/json
      Charset:
      - utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"rate_limit_amount": 11, "rate_limit_reset": 1422380906,
        "application_mode": "production", "processing_time": 43, "rate_limit_cap":
        1000, "credits_remaining": 9999, "activity_id": "54c7c165fba8eb2b3ce3184a",
        "credits_billed": 1}, "data": [{"high_price": 75.10311800523911, "cpt_code":
        "90658", "low_price": 52.90216216216216, "average_price": 61.545527483658326,
        "geo_zip_area": "944", "standard_deviation": 7.329669571598287, "median_price":
        60.229782717498736}]}'
  recorded_at: Tue, 27 Jan 2015 16:48:38 GMT
recorded_with: VCR 2.9.3
