---
http_interactions:
- request:
    method: post
    uri: https://platform.pokitdok.com/api/v4/claims/
    body:
      encoding: UTF-8
      string: '{"transaction_code":"chargeable","trading_partner_id":"MOCKPAYER","billing_provider":{"taxonomy_code":"207Q00000X","first_name":"Jerome","last_name":"Aya-Ay","npi":"1467560003","address":{"address_lines":["8311
        WARREN H ABERNATHY HWY"],"city":"SPARTANBURG","state":"SC","zipcode":"29301"},"tax_id":"123456789"},"subscriber":{"first_name":"Jane","last_name":"Doe","member_id":"W000000000","address":{"address_lines":["123
        N MAIN ST"],"city":"SPARTANBURG","state":"SC","zipcode":"29301"},"birth_date":"1970-01-01","gender":"female"},"claim":{"total_charge_amount":60.0,"service_lines":[{"procedure_code":"99213","charge_amount":60.0,"unit_count":1.0,"diagnosis_codes":["487.1"],"service_date":"2014-06-01"}]},"payer":{"organization_name":"Acme
        Ins Co","plan_id":"1234567890"}}'
    headers:
      Authorization:
      - Bearer rdb2ZfBxbA2P0Mo8xEa1GEce5BoVXjvOXCvT5ZQp
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Mimetype:
      - application/json
      Charset:
      - utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"rate_limit_amount": 13, "rate_limit_reset": 1422380905,
        "application_mode": "production", "processing_time": 40, "rate_limit_cap":
        1000, "credits_remaining": 13491, "activity_id": "54c7c166fba8eb2b3dd6c241",
        "credits_billed": 1}, "data": {"units_of_work": 1, "_type": "PlatformActivityModel",
        "name": "claims", "parameters": {"claim": {"plan_participation": "assigned",
        "provider_signature": true, "total_charge_amount": "60.0", "claim_frequency":
        "original", "place_of_service": "office", "direct_payment": "y", "patient_signature_on_file":
        true, "information_release": "informed_consent", "service_lines": [{"diagnosis_codes":
        ["487.1"], "unit_count": "1.0", "unit_type": "units", "charge_amount": "60.0",
        "service_date": "2014-06-01", "procedure_code": "99213"}]}, "trading_partner_id":
        "MOCKPAYER", "payer": {"organization_name": "MOCKPAYER", "id": "MOCKPAYER"},
        "subscriber": {"first_name": "Jane", "last_name": "Doe", "gender": "female",
        "member_id": "W000000000", "payer_responsibility": "primary", "address": {"address_lines":
        ["123 N MAIN ST"], "state": "SC", "zipcode": "29301", "city": "SPARTANBURG"},
        "birth_date": "1970-01-01"}, "correlation_id": "b576c3bb-c6cb-425f-a40a-aa8bbe0a3daa",
        "client_id": "7iF1u1XVbkAds9LSz94c", "receiver": {"organization_name": "MOCKRECEIVER",
        "id": "MOCKRECEIVER"}, "submitter": {"organization_name": "POKITDOK TESTING",
        "id": "POKITDOKTEST", "email": "support@pokitdok.com"}, "async": false, "billing_provider":
        {"first_name": "Jerome", "last_name": "Aya-Ay", "npi": "1467560003", "taxonomy_code":
        "207Q00000X", "address": {"address_lines": ["8311 WARREN H ABERNATHY HWY"],
        "state": "SC", "zipcode": "29301", "city": "SPARTANBURG"}, "tax_id": "123456789"},
        "transaction_code": "chargeable"}, "remaining_transitions": ["generate", "store",
        "transmit", "wait", "receive", "process", "complete"], "_uuid": "3f80ce05-a8bc-41c8-868e-d3c1001033f2",
        "state": {"name": "scheduled", "title": "Scheduled for next available transmission
        to Trading Partner"}, "trading_partner_id": "MOCKPAYER", "id": "54c7c166fba8eb2b3dd6c241",
        "transition_path": ["schedule", "generate", "store", "transmit", "wait", "receive",
        "process", "complete"], "history": [{"record_dt": "2015-01-27T16:48:38.884290",
        "name": "init", "title": "Initializing"}]}}'
  recorded_at: Tue, 27 Jan 2015 16:48:40 GMT
recorded_with: VCR 2.9.3
