---
http_interactions:
- request:
    method: post
    uri: https://platform.pokitdok.com/api/v4/claims/status
    body:
      encoding: UTF-8
      string: '{"patient":{"birth_date":"1970-01-01","first_name":"JANE","last_name":"DOE","id":"1234567890"},"provider":{"first_name":"Jerome","last_name":"Aya-Ay","npi":"1467560003"},"service_date":"2014-01-01","trading_partner_id":"MOCKPAYER"}'
    headers:
      Authorization:
      - Bearer rdb2ZfBxbA2P0Mo8xEa1GEce5BoVXjvOXCvT5ZQp
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Mimetype:
      - application/json
      Charset:
      - utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"rate_limit_amount": 12, "rate_limit_reset": 1422380906,
        "application_mode": "production", "processing_time": 186, "rate_limit_cap":
        1000, "credits_remaining": 13492, "activity_id": "54c7c166948303218a04e274",
        "credits_billed": 1}, "data": {"patient": {"claims": [{"applied_to_deductible":
        false, "total_claim_amount": {"currency": "USD", "amount": "150"}, "service_end_date":
        "2014-01-01", "claim_control_number": "E1TWCYYMF00", "service_date": "2014-01-01",
        "claim_payment_amount": {"currency": "USD", "amount": "125"}, "adjudication_finalized_date":
        "2014-03-21", "statuses": [{"total_claim_amount": {"currency": "USD", "amount":
        "150"}, "status_category": "Finalized/Payment-The claim/line has been paid.",
        "status_code": "Processed according to contract provisions (Contract refers
        to provisions that exist between the Health Plan and a Provider of Health
        Care Services)", "claim_payment_amount": {"currency": "USD", "amount": "125"},
        "adjudication_finalized_date": "2014-03-21", "status_effective_date": "2014-04-24",
        "check_number": "08608-035632423", "remittance_date": "2014-04-09"}], "tracking_id":
        "E1TWCYYMF", "services": [{"cpt_code": "99214", "service_end_date": "2014-03-05",
        "payment_amount": {"currency": "USD", "amount": "125"}, "charge_amount": {"currency":
        "USD", "amount": "150"}, "service_date": "2014-03-05", "statuses": [{"status_code":
        "Processed according to contract provisions (Contract refers to provisions
        that exist between the Health Plan and a Provider of Health Care Services)",
        "status_category": "Finalized/Payment-The claim/line has been paid.", "status_effective_date":
        "2014-04-24"}]}], "check_number": "08608-035632423", "remittance_date": "2014-04-09"}]},
        "client_id": "7iF1u1XVbkAds9LSz94c", "payer": {"name": "MOCK PAYER INC", "id":
        "MOCKPAYER"}, "providers": [{"first_name": "Jerome", "last_name": "Aya-Ay",
        "npi": "1467560003"}], "correlation_id": "414a2c6f-f915-49c8-aa05-0e07804b463d",
        "trading_partner_id": "MOCKPAYER", "submitter": {"first_name": "Jerome", "last_name":
        "Aya-Ay", "id": "1467560003"}}}'
  recorded_at: Tue, 27 Jan 2015 16:48:39 GMT
recorded_with: VCR 2.9.3
