---
http_interactions:
- request:
    method: post
    uri: https://platform.pokitdok.com/api/v4/eligibility/
    body:
      encoding: UTF-8
      string: '{"member":{"birth_date":"1970-01-01","first_name":"Jane","last_name":"Doe","id":"W000000000"},"provider":{"first_name":"JEROME","last_name":"AYA-AY","npi":"1467560003"},"service_types":["health_benefit_plan_coverage"],"trading_partner_id":"MOCKPAYER"}'
    headers:
      Authorization:
      - Bearer rdb2ZfBxbA2P0Mo8xEa1GEce5BoVXjvOXCvT5ZQp
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Mimetype:
      - application/json
      Charset:
      - utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"rate_limit_amount": 1, "rate_limit_reset": 1422380907, "application_mode":
        "production", "processing_time": 283, "rate_limit_cap": 1000, "credits_remaining":
        13496, "activity_id": "54c7c15b948303218a04e270", "credits_billed": 1}, "data":
        {"service_types": ["professional_physician_visit_office"], "client_id": "7iF1u1XVbkAds9LSz94c",
        "payer": {"id": "MOCKPAYER", "name": "MOCK PAYER INC"}, "summary": {"deductible":
        {"individual": {"in_network": {"applied": {"currency": "USD", "amount": "16.43"},
        "limit": {"currency": "USD", "amount": "3000"}, "remaining": {"currency":
        "USD", "amount": "2983.57"}}, "out_of_network": {"applied": {"currency": "USD",
        "amount": "16.43"}, "limit": {"currency": "USD", "amount": "6000"}, "remaining":
        {"currency": "USD", "amount": "5983.57"}}}, "family": {"in_network": {"applied":
        {"currency": "USD", "amount": "43.91"}, "limit": {"currency": "USD", "amount":
        "6000"}, "remaining": {"currency": "USD", "amount": "5956.09"}}, "out_of_network":
        {"applied": {"currency": "USD", "amount": "43.91"}, "limit": {"currency":
        "USD", "amount": "12000"}, "remaining": {"currency": "USD", "amount": "11956.09"}}}}},
        "subscriber": {"birth_date": "1970-01-01", "first_name": "Jane", "last_name":
        "Doe", "id": "W000000000", "address": {"city": "SPARTANBURG", "state": "SC",
        "zipcode": "29307", "address_lines": ["123 MAIN ST"]}}, "correlation_id":
        "c5e9801c-9f6a-474b-af95-a0ae27dc496b", "trading_partner_id": "MOCKPAYER",
        "provider": {"first_name": "JEROME", "last_name": "JEROME AYA-AY", "npi":
        "1467560003"}, "coverage": {"plan_number": "0888188", "service_types": ["professional_physician_visit_office"],
        "group_number": "088818801000013", "out_of_pocket": [{"in_plan_network": "yes",
        "benefit_amount": {"currency": "USD", "amount": "3000"}, "coverage_level":
        "individual"}, {"in_plan_network": "yes", "benefit_amount": {"currency": "USD",
        "amount": "2983.57"}, "coverage_level": "individual", "time_period": "remaining"},
        {"in_plan_network": "yes", "benefit_amount": {"currency": "USD", "amount":
        "6000"}, "coverage_level": "family"}, {"in_plan_network": "yes", "benefit_amount":
        {"currency": "USD", "amount": "5956.09"}, "coverage_level": "family", "time_period":
        "remaining"}, {"in_plan_network": "no", "benefit_amount": {"currency": "USD",
        "amount": "12500"}, "coverage_level": "individual"}, {"in_plan_network": "no",
        "benefit_amount": {"currency": "USD", "amount": "12483.57"}, "coverage_level":
        "individual", "time_period": "remaining"}, {"in_plan_network": "no", "benefit_amount":
        {"currency": "USD", "amount": "25000"}, "coverage_level": "family"}, {"in_plan_network":
        "no", "benefit_amount": {"currency": "USD", "amount": "24956.09"}, "coverage_level":
        "family", "messages": [{"message": "Unlimited Lifetime Benefits"}], "time_period":
        "remaining"}], "insurance_type": "ppo", "level": "employee_and_spouse", "copay":
        [{"in_plan_network": "yes", "service_types": ["professional_physician_visit_office"],
        "coverage_level": "employee_and_spouse", "messages": [{"message": "PRIMARY
        OFFICE"}]}, {"in_plan_network": "not_applicable", "service_types": ["professional_physician_visit_office"],
        "coverage_level": "employee_and_spouse", "messages": [{"message": "GYN OFFICE
        VS"}, {"message": "GYN VISIT"}, {"message": "SPEC OFFICE"}, {"message": "SPEC
        VISIT"}, {"message": "PRIME CARE VST"}, {"message": "Plan Requires PreCert"},
        {"message": "Commercial"}, {"message": "Plan includes NAP"}, {"message": "Pre-Existing
        may apply"}]}], "plan_description": "Open Choice", "deductibles": [{"service_types":
        ["health_benefit_plan_coverage"], "messages": [{"message": "INT MED AND RX,GYN
        OFFICE VS,DED INCLUDED IN OOP,GYN VISIT,SPEC OFFICE,SPEC VISIT,PRIMARY OFFICE,PRIME
        CARE VST"}], "in_plan_network": "yes", "eligibility_date": "2013-01-01", "time_period":
        "calendar_year", "coverage_level": "family", "benefit_amount": {"currency":
        "USD", "amount": "6000"}}, {"service_types": ["health_benefit_plan_coverage"],
        "messages": [{"message": "INT MED AND RX"}], "in_plan_network": "yes", "time_period":
        "remaining", "coverage_level": "family", "benefit_amount": {"currency": "USD",
        "amount": "5956.09"}}, {"service_types": ["health_benefit_plan_coverage"],
        "messages": [{"message": "I[...]
