---
http_interactions:
- request:
    method: post
    uri: https://platform.pokitdok.com/api/v4/enrollment/
    body:
      encoding: UTF-8
      string: '{"action":"Change","client_id":"x12parse","correlation_id":"123456789","deleted":false,"dependents":[],"insert_dt":"Wed
        Mar 26 22:18:47 2014","payer":{"tax_id":"654456654"},"purpose":"Original","reference_number":"12456","sponsor":{"tax_id":"999888777"},"subscriber":{"address":{"city":"CAMP
        HILL","county":"CUMBERLAND","line":"100 MARKET ST","line2":"APT 3G","postal_code":"17011","state":"PA"},"benefit_status":"Active","benefits":[{"begin_date":"Sat
        Jun  1 00:00:00 1996","benefit_type":"Health","coordination_of_benefits":[{"group_or_policy_number":"890111","payer_responsibility":"Primary","status":"Unknown"}],"late_enrollment":false,"maintenance_type":"Addition"},{"begin_date":"Sat
        Jun  1 00:00:00 1996","benefit_type":"Dental","late_enrollment":false,"maintenance_type":"Addition"},{"begin_date":"Sat
        Jun  1 00:00:00 1996","benefit_type":"Vision","late_enrollment":false,"maintenance_type":"Addition"}],"birth_date":"Fri
        Aug 16 00:00:00 1940","contacts":[{"communication_number2":"7172341240","communication_type2":"Work
        Phone Number","primary_communication_number":"7172343334","primary_communication_type":"Home
        Phone Number"}],"eligibility_begin_date":"Thu May 23 00:00:00 1996","employment_status":"Full-time","first_name":"JOHN","gender":"Male","group_or_policy_number":"123456001","handicapped":false,"last_name":"DOE","maintenance_reason":"Active","maintenance_type":"Addition","member_id":"123456789","middle_name":"P","relationship":"Self","ssn":"123456789","subscriber_number":"123456789","substance_abuse":false,"tobacco_use":false},"trading_partner_id":"MOCKPAYER","update_dt":"Wed
        Mar 26 22:18:47 2014"}'
    headers:
      Authorization:
      - Bearer rdb2ZfBxbA2P0Mo8xEa1GEce5BoVXjvOXCvT5ZQp
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Mimetype:
      - application/json
      Charset:
      - utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"rate_limit_amount": 15, "rate_limit_reset": 1422380905,
        "application_mode": "production", "processing_time": 23, "rate_limit_cap":
        1000, "credits_remaining": 9999, "activity_id": "54c7c168fba8eb2b3ce3184b",
        "credits_billed": 1}, "data": {"units_of_work": 1, "_type": "PlatformActivityModel",
        "name": "enrollment", "parameters": {"reference_number": "12456", "version":
        "4.0.0", "payer": {"tax_id": "654456654"}, "update_dt": "Wed Mar 26 22:18:47
        2014", "deleted": false, "major_version": "4", "subscriber": {"maintenance_type":
        "Addition", "first_name": "JOHN", "last_name": "DOE", "benefits": [{"maintenance_type":
        "Addition", "late_enrollment": false, "begin_date": "Sat Jun  1 00:00:00 1996",
        "benefit_type": "Health", "coordination_of_benefits": [{"status": "Unknown",
        "group_or_policy_number": "890111", "payer_responsibility": "Primary"}]},
        {"maintenance_type": "Addition", "late_enrollment": false, "begin_date": "Sat
        Jun  1 00:00:0[...]
