---
http_interactions:
- request:
    method: get
    uri: https://platform.pokitdok.com/api/v4/prices/insurance?cpt_code=87799&zip_code=32218
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer rdb2ZfBxbA2P0Mo8xEa1GEce5BoVXjvOXCvT5ZQp
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Mimetype:
      - application/json
      Charset:
      - utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"rate_limit_amount": 2, "rate_limit_reset": 1422380907, "application_mode":
        "production", "processing_time": 58, "rate_limit_cap": 1000, "credits_remaining":
        9999, "activity_id": "54c7c15cfba8eb2b3dd6c23f", "credits_billed": 1}, "data":
        {"amounts": [{"high_price": 159.75, "standard_deviation": 36.41382675904168,
        "average_price": 54.5895, "payer_type": "insurance", "payment_type": "allowed",
        "low_price": 19.98, "median_price": 56.25}, {"high_price": 188.91, "standard_deviation":
        26.57623445180863, "average_price": 104.77350000000001, "payer_type": "insurance",
        "payment_type": "submitted", "low_price": 88.02, "median_price": 97.02}, {"high_price":
        57.623480176, "standard_deviation": 7.105427357601002e-15, "average_price":
        57.623480175999994, "payer_type": "medicare", "payment_type": "paid", "low_price":
        57.623480176, "median_price": 57.623480176}, {"high_price": 100.28768722,
        "standard_deviation": 0.0, "average_price": 100.28768722, "payer_type": "medicare",
        "payment_type": "submitted", "low_price": 100.28768722, "median_price": 100.28768722},
        {"high_price": 82.336343612, "standard_deviation": 0.0, "average_price": 82.336343612,
        "payer_type": "medicare", "payment_type": "allowed", "low_price": 82.336343612,
        "median_price": 82.336343612}], "cpt_code": "87799", "geo_zip_area": "322"}}'
  recorded_at: Tue, 27 Jan 2015 16:48:30 GMT
recorded_with: VCR 2.9.3
