---
http_interactions:
- request:
    method: get
    uri: https://platform.pokitdok.com/api/v4/payers/?state=CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer rdb2ZfBxbA2P0Mo8xEa1GEce5BoVXjvOXCvT5ZQp
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Mimetype:
      - application/json
      Charset:
      - utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"rate_limit_amount": 9, "rate_limit_reset": 1422380906, "application_mode":
        "production", "processing_time": 32, "rate_limit_cap": 1000, "activity_id":
        "54c7c163fba8eb2b3dd6c240"}, "data": [{"supported_transactions": ["837"],
        "payer_name": "AARP Medicare Complete", "payer_key": "", "production_status":
        true, "trading_partner_id": "aarp_medicare_complete"}, {"supported_transactions":
        ["837"], "payer_name": "AARP Medicare Supplement Plan", "payer_key": "", "production_status":
        true, "trading_partner_id": "aarp_medicare_supplement"}, {"supported_transactions":
        ["276", "837", "270", "278"], "payer_name": "Aetna", "payer_key": "", "production_status":
        true, "trading_partner_id": "aetna"}, {"supported_transactions": ["837"],
        "payer_name": "All Savers Insurance", "payer_key": "", "produc[...]
