---
http_interactions:
- request:
    method: get
    uri: https://platform.pokitdok.com/api/v4/plans/?plan_type=PPO&state=TX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer rdb2ZfBxbA2P0Mo8xEa1GEce5BoVXjvOXCvT5ZQp
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Mimetype:
      - application/json
      Charset:
      - utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"rate_limit_amount": 14, "rate_limit_reset": 1422380905,
        "application_mode": "production", "result_count": 3728, "processing_time":
        295, "rate_limit_cap": 1000, "credits_remaining": 13490, "next": "https://platform.pokitdok.com/api/v4/plans/?state=TX&plan_type=PPO&offset=20",
        "activity_id": "54c7c167948303218b7184c1", "credits_billed": 1}, "data": [{"premiums":
        [{"age": 21, "cost": 284.64, "adults": 1, "children": 0}, {"age": 27, "cost":
        298.3, "adults": 1, "children": 0}, {"age": 30, "cost": 323.07, "adults":
        1, "children": 0}, {"age": 40, "cost": 363.77, "adults": 1, "children": 0},
        {"age": 50, "cost": 508.37, "adults": 1, "children": 0}, {"age": 60, "cost":
        772.52, "adults": 1, "children": 0}, {"age": 21, "cost": 465.39, "adults":
        1, "children": 1}, {"age": 30, "cost": 503.82, "adults": 1, "children": 1},
        {"age": 40, "cost": 544.52, "adults": 1, "childre[...]
