---
http_interactions:
- request:
    method: get
    uri: https://platform.pokitdok.com/api/v4/providers/?npi=1467560003
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer rdb2ZfBxbA2P0Mo8xEa1GEce5BoVXjvOXCvT5ZQp
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Mimetype:
      - application/json
      Charset:
      - utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"rate_limit_amount": 6, "rate_limit_reset": 1422380907, "application_mode":
        "production", "processing_time": 106, "rate_limit_cap": 1000, "credits_remaining":
        9996, "result_count": 1, "activity_id": "54c7c160fba8eb2b3b39c439", "credits_billed":
        1}, "data": [{"provider": {"first_name": "Jerome", "last_name": "Aya-Ay",
        "middle_name": "BENITEZ", "uuid": "fc44d0e0-ea7f-492e-90f0-0f9148453019",
        "degree": "MD", "gender": "Male", "residencies": [{"city": "SPARTANBURG",
        "to_year": "2007", "institution_name": "SPARTANBURG REGIONAL HEALTHCARE SYSTEM",
        "specialty": "FAMILY MEDICINE", "from_year": "2004"}], "licensures": [{"status":
        "inactive", "expiration_date": "2005-12-31T00:00:00", "number": "TL27210",
        "as_of_date": "2011-07-19T00:00:00", "state": "SC", "type": "resident"}, {"status":
        "active", "expiration_date": "2015-06-30T00:00:00", "number": "27210", "as_of_date":
        "2014-09-15T00:00:00", "state": "SC", "type": "resident"}, {"status": "inactive",
        "expiration_date": "2005-12-31T00:00:00", "number": "LL27210", "as_of_date":
        "2011-07-19T00:00:00", "state": "SC", "type": "resident"}], "specialty": ["Family
        Practice", "Family Medicine"], "specialty_primary": ["Family Practice", "Family
        Medicine"], "locations": [{"address_lines": ["175 Cambridge St", "Suite 400"],
        "city": "Boston", "zipcode": "02114-2743", "phone": "6176430824", "state":
        "MA", "geo_location": [0.0, 0.0], "role": ["mailing"]}, {"address_lines":
        ["1120 N Pleasantburg Dr", "Ste 301"], "city": "Greenville", "zipcode": "29607",
        "phone": "8642524808", "state": "SC", "geo_location": [-82.35771299999999,
        34.870267], "role": ["practice"]}, {"address_lines": ["1703 John B White Sr
        Blvd", "Unit A"], "city": "Spartanburg", "zipcode": "29301", "phone": "8646417229",
        "state": "SC", "geo_location": [-81.98262799999999, 34.922586], "role": ["practice"]}],
        "verified": true, "phone": "8036280004", "board_certifications": ["Family
        Medicine"], "birth_date": "1972", "npi": "1467560003", "licenses": [{"state":
        "SC", "role": "preferred", "year": "2004-01-01T00:00:00"}, {"state": "SC",
        "role": "alternate", "year": "2004-01-01T00:00:00"}], "education": {"medical_school":
        "JC EDWARDS SCHOOL MEDICAL MARSHALL U HUNTINGTON WV 2575", "graduation_year":
        "2004-01-01T00:00:00"}, "small_image_url": "https://d2sc6ykmuixlzf.cloudfront.net/pda0233f41447f472dab57393b0cbf5bb7-29ef4cc83c4372854a573b302b259b2c-thumbnail.jpeg",
        "description": "Dr. Jerome Aya-Ay was raised in the small rural town of Grantsville,
        West Virginia. He graduated from the University of Notre Dame with a bachelor''s
        degree in Biology.  After studying for a Masters in Biomedical Sciences at
        Marshall University, he continued on to graduate from Marshall University
        School of Medicine in Huntington, WV with a medical degree. Dr. Aya-Ay completed
        his residency in Family Medicine at Spartanburg Regional Medical Center where
        he was awarded the Family Medicine..."}}]}'
  recorded_at: Tue, 27 Jan 2015 16:48:33 GMT
recorded_with: VCR 2.9.3
