---
http_interactions:
- request:
    method: post
    uri: https://platform.pokitdok.com/api/v4/referrals/
    body:
      encoding: UTF-8
      string: '{"event":{"category":"specialty_care_review","certification_type":"initial","delivery":{"quantity":1,"quantity_qualifier":"visits"},"diagnoses":[{"code":"384.20","date":"2014-09-30"}],"place_of_service":"office","provider":{"first_name":"JOHN","npi":"1154387751","last_name":"FOSTER","phone":"8645822900"},"type":"consultation"},"patient":{"birth_date":"1970-01-01","first_name":"JANE","last_name":"DOE","id":"1234567890"},"provider":{"first_name":"CHRISTINA","last_name":"BERTOLAMI","npi":"1619131232"},"trading_partner_id":"MOCKPAYER"}'
    headers:
      Authorization:
      - Bearer rdb2ZfBxbA2P0Mo8xEa1GEce5BoVXjvOXCvT5ZQp
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Mimetype:
      - application/json
      Charset:
      - utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"rate_limit_amount": 4, "rate_limit_reset": 1422380906, "application_mode":
        "production", "processing_time": 349, "rate_limit_cap": 1000, "credits_remaining":
        13495, "activity_id": "54c7c15dfba8eb2b3ce31847", "credits_billed": 1}, "data":
        {"patient": {"first_name": "JANE", "last_name": "DOE", "id": "1234567890"},
        "trading_partner_id": "MOCKPAYER", "payer": {"organization_name": "MOCK PAYER
        INC", "id": "MOCKPAYER"}, "originating_company_id": "9012345678", "correlation_id":
        "58b39af1-0ad7-42b1-9a0e-99ff17b60ac2", "client_id": "7iF1u1XVbkAds9LSz94c",
        "provider": {"first_name": "CHRISTINA", "last_name": "BERTOLAMI", "tax_id":
        "1619131232"}, "async": false, "event": {"category": "specialty_care_review",
        "diagnoses": [{"date": "2005-04-30", "code": "410.90"}], "place_of_service":
        "office", "review": {"certification_number": "AUTH0001", "second_surgical_opinion_required":
        false, "certification_action": "certified_in_total"}, "delivery": {"quantity_qualifier":
        "visits", "quantity": 1}, "provider": {"first_name": "JOHN", "last_name":
        "FOSTER", "tax_id": "1154387751"}, "certification_type": "initial", "type":
        "consultation"}, "valid_request": true}}'
  recorded_at: Tue, 27 Jan 2015 16:48:32 GMT
recorded_with: VCR 2.9.3
