---
http_interactions:
- request:
    method: get
    uri: https://platform.pokitdok.com/api/v4/schedule/schedulers/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer iYMdHd0naMh8nPCrdvsJW0ulGyoJavjZiWUMXfRR
  response:
    status:
      code: 401
      message: UNAUTHORIZED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "message": "Unauthorized"
        }
  recorded_at: Tue, 27 Jan 2015 23:21:43 GMT
- request:
    method: get
    uri: https://platform.pokitdok.com/api/v4/schedule/appointmenttypes/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer iYMdHd0naMh8nPCrdvsJW0ulGyoJavjZiWUMXfRR
  response:
    status:
      code: 401
      message: UNAUTHORIZED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "message": "Unauthorized"
        }
  recorded_at: Tue, 27 Jan 2015 23:21:44 GMT
- request:
    method: get
    uri: https://platform.pokitdok.com/api/v4/schedule/appointments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer iYMdHd0naMh8nPCrdvsJW0ulGyoJavjZiWUMXfRR
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://platform.pokitdok.com/api/v4/schedule/appointments/
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
        <title>Redirecting...</title>
        <h1>Redirecting...</h1>
        <p>You should be redirected automatically to target URL: <a href="https://platform.pokitdok.com/api/v4/schedule/appointments/">https://platform.pokitdok.com/api/v4/schedule/appointments/</a>.  If not click the link.
  recorded_at: Tue, 27 Jan 2015 23:21:45 GMT
- request:
    method: get
    uri: https://platform.pokitdok.com/api/v4/schedule/appointments/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer iYMdHd0naMh8nPCrdvsJW0ulGyoJavjZiWUMXfRR
  response:
    status:
      code: 401
      message: UNAUTHORIZED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "message": "Unauthorized"
        }
  recorded_at: Tue, 27 Jan 2015 23:21:45 GMT
- request:
    method: get
    uri: https://platform.pokitdok.com/api/v4/schedule/appointmenttypes/?id=1234567
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer iYMdHd0naMh8nPCrdvsJW0ulGyoJavjZiWUMXfRR
  response:
    status:
      code: 401
      message: UNAUTHORIZED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "message": "Unauthorized"
        }
  recorded_at: Tue, 27 Jan 2015 23:21:46 GMT
- request:
    method: get
    uri: https://platform.pokitdok.com/api/v4/schedule/schedulers/?id=1234567
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer iYMdHd0naMh8nPCrdvsJW0ulGyoJavjZiWUMXfRR
  response:
    status:
      code: 401
      message: UNAUTHORIZED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "message": "Unauthorized"
        }
  recorded_at: Tue, 27 Jan 2015 23:21:46 GMT
- request:
    method: put
    uri: https://platform.pokitdok.com/api/v4/schedule/appointments/
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer iYMdHd0naMh8nPCrdvsJW0ulGyoJavjZiWUMXfRR
      Content-Type:
      - application/json
  response:
    status:
      code: 405
      message: METHOD NOT ALLOWED
    headers:
      Content-Type:
      - text/html
      Allow:
      - HEAD, OPTIONS, GET
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
        <title>405 Method Not Allowed</title>
        <h1>Method Not Allowed</h1>
        <p>The method is not allowed for the requested URL.</p>
  recorded_at: Tue, 27 Jan 2015 23:21:47 GMT
- request:
    method: delete
    uri: https://platform.pokitdok.com/api/v4/schedule/appointments/
    body:
      encoding: UTF-8
      string: '{"id":"123456"}'
    headers:
      Authorization:
      - Bearer iYMdHd0naMh8nPCrdvsJW0ulGyoJavjZiWUMXfRR
      Content-Type:
      - application/json
  response:
    status:
      code: 405
      message: METHOD NOT ALLOWED
    headers:
      Content-Type:
      - text/html
      Allow:
      - HEAD, OPTIONS, GET
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
        <title>405 Method Not Allowed</title>
        <h1>Method Not Allowed</h1>
        <p>The method is not allowed for the requested URL.</p>
  recorded_at: Tue, 27 Jan 2015 23:21:48 GMT
- request:
    method: post
    uri: https://platform.pokitdok.com/api/v4/schedule/appointments/
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer iYMdHd0naMh8nPCrdvsJW0ulGyoJavjZiWUMXfRR
      Content-Type:
      - application/json
  response:
    status:
      code: 405
      message: METHOD NOT ALLOWED
    headers:
      Content-Type:
      - text/html
      Allow:
      - HEAD, OPTIONS, GET
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
        <title>405 Method Not Allowed</title>
        <h1>Method Not Allowed</h1>
        <p>The method is not allowed for the requested URL.</p>
  recorded_at: Mon, 02 Feb 2015 17:17:45 GMT
recorded_with: VCR 2.9.3
