---
http_interactions:
- request:
    method: get
    uri: https://platform.pokitdok.com/api/v4/tradingpartners/aetna
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer iYMdHd0naMh8nPCrdvsJW0ulGyoJavjZiWUMXfRR
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Mimetype:
      - application/json
      Charset:
      - utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"rate_limit_amount": 2, "rate_limit_reset": 1422402047, "application_mode":
        "production", "processing_time": 35, "rate_limit_cap": 1000, "activity_id":
        "54c81487fba8eb2b3b39c565"}, "data": {"is_enabled": true, "supported_transactions":
        ["270", "837", "276", "278"], "id": "aetna", "name": "Aetna"}}'
  recorded_at: Tue, 27 Jan 2015 22:43:19 GMT
recorded_with: VCR 2.9.3
